@mixin line-lb{
  content: '';
  background: #0F0;
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .5s;
}


.l-position-cc{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin:auto;
}
.l-pic-bg{
  background:url(#) no-repeat center center;
  background-size: cover;
}

// 浏览器的样式
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
  border: 1px solid #CCC !important;
}

.ant-input:focus {
  box-shadow: 0 0 0px 1000px white inset !important;
}
