#app {
  height:100%;
  .ant-form-item {
    margin-bottom: 16px;
    .ant-form-explain{
      position:absolute;
      font-size: 12px;

    }
  }
  .ant-layout-sider-children{

    .ant-menu {

    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@import "./components.scss";
@import "./base.scss";
