.#{$prefix} {
  width: 100%;
  .#{$prefix}-content {
    padding:0 5px;
    .#{$prefix}-summary {
      .#{$prefix}-summary-title {
        font-size: 15px;
      }
      .#{$prefix}-summary-money {
        padding-left: 10px;
        font-size: 15px;
        font-weight: 500;
      }
      .#{$prefix}-summary-charge {
        padding-right: 10px;
        font-size: 13px;
        color: #aaa;
      }
      .#{$prefix}-summary-status {
        font-size: 14px;
      }
      .#{$prefix}-summary-note {
        padding-top: 3px;
        font-size: 12px;
        color: #666;
        line-height: 12px;
        .#{$prefix}-summary-note-item {
          padding-right: 5px;
        }
      }
    }
    .#{$prefix}-others {
      .#{$prefix}-others-time {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 12px;
        line-height: 14px;
        color: #aaa;
      }
      .#{$prefix}-others-turnoff {
        color: #1890ff;
        font-size: 18px;
        padding:0 3px;
      }
    }
  }
  .#{$prefix}-divider {
    margin: 0 5px;
    border-top: 1px dashed #ccc;
  }
  .#{$prefix}-detail {
    padding:5px 5px 0;
    .#{$prefix}-detail-item {
      font-size: 13px;
    }
    .#{$prefix}-detail-item-button {
      padding-top: 3px;
      font-size: 13px;
      color: #1890ff;
    }
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.slide-enter-active, .slide-leave-active {
  transition: all .3s ease;
}
.slide-enter, .slide-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(-20px);
  opacity: 0;
}
