.#{$prefix}-page {
  max-width: 888px;
  margin: 0 auto;
  .#{$prefix}-title {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .#{$prefix}-content {
    margin-top: 16px;
    margin-bottom: 40px;
    .#{$prefix}-icon-success, .#{$prefix}-icon-error {
      font-size: 60px;
      margin-bottom: 10px;
      line-height: 48px;
      color: #52c41a;
    }
    .#{$prefix}-icon-error {
      color: #f5222d;
    }
    .#{$prefix}-content-title {
      font-size: 18px;
      color: rgba(0,0,0,.85);
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 16px;
    }
    .#{$prefix}-content-note {
      margin: 15px;
      padding:10px 0;
      width: 100%;
      border-top: 1px solid #ccc;
      .#{$prefix}-content-note-title {
        color: rgba(0,0,0,.45);
        font-size: 14px;
      }
      .#{$prefix}-content-note-item {
        color: rgba(0,0,0,.45);
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 5px;
      }
    }
  }
}

@media (min-width: 575px) {
  .#{$prefix}-page {
    padding: 20px;
    .#{$prefix}-title {
      padding:0 40px 10px;
    }
    .#{$prefix}-content {
      .#{$prefix}-icon-success, .#{$prefix}-icon-error {
        margin-top: 20px;
        margin-bottom: 24px;
        font-size: 72px;
        line-height: 72px;
      }
      .#{$prefix}-content-title {
        font-size: 24px;
      }
      .#{$prefix}-content-note {
        padding:15px 36px;
        margin: 20px 0;
        .#{$prefix}-content-note-title {
          font-size: 16px;
          margin: 0 0 8px;
          line-height: 32px;
        }
        .#{$prefix}-content-note-item {
          font-size: 14px;
          margin: 3px;
        }
      }
    }
  }
}
